<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Page</title>
</head>
<body>
<form method="Post">
    <div class = "container" >
        <div class = "jumbotron" >
            <h1> Welcome to Form Page</h1>
            <h1> Fill the form</h1>

            {{ form.as_p }}
            {% csrf_token %}

            <input class="btn btn-primary" type="submit" value="Login">
            <a class="btn" href="http://127.0.0.1:8000/"> Back to Home Page </a>
        </div>
    </div>
</form>
</body>
</html>