<!DOCTYPE html>

<head>
    <title>Page Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'myfirstapp/style.css' %}"/>
</head>
<!-- style here -->

<html>

<body>
    <h1>Welcome to the Homepage</h1>
    <p>Click on any of the following links below to be redirected: </p>


    <a href="http://127.0.0.1:8000/"> Home Page</a>
    <br>
    <a href="http://127.0.0.1:8000/home/"> Index Page </a>
    <br>
    <a href="http://127.0.0.1:8000/admin/"> Admin Page</a>
    <br>
    <a href="http://127.0.0.1:8000/random/"> Random Page</a>
    <br>
     <a href="http://127.0.0.1:8000/form/"> Form Page</a>
    <br>

<img src="{% static 'myfirstapp/sf.png' %}" width = "100px" class="center">
    <br>


</body>

</html>
